    /*
    Flaticon icon font: Flaticon
    Creation date: 22/09/2017 14:18
    */

    @font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-thermometer:before { content: "\f100"; }
.flaticon-house-outline:before { content: "\f101"; }
.flaticon-mode-circular-button:before { content: "\f102"; }
.flaticon-drought:before { content: "\f103"; }
.flaticon-snowflake:before { content: "\f104"; }
.flaticon-magic-wand:before { content: "\f105"; }
.flaticon-sun:before { content: "\f106"; }
.flaticon-vehicle:before { content: "\f107"; }
    
    $font-Flaticon-thermometer: "\f100";
    $font-Flaticon-house-outline: "\f101";
    $font-Flaticon-mode-circular-button: "\f102";
    $font-Flaticon-drought: "\f103";
    $font-Flaticon-snowflake: "\f104";
    $font-Flaticon-magic-wand: "\f105";
    $font-Flaticon-sun: "\f106";
    $font-Flaticon-vehicle: "\f107";